<a href="https://colab.research.google.com/github/milochanaRathnayake/MachineLearningProjects/blob/main/Project_02_Gold_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Libraries

In [1]:
import numpy as np #use to make numpy arrays
import pandas as pd #for making data frame
import matplotlib.pyplot as plt
import seaborn as sns #use to make plots and graphs
from sklearn.model_selection import train_test_split #for split original data in to train and test
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

Data Collection and Preprocessing

In [2]:
#loading the csv data to a Pandas DataFrame
df = pd.read_csv('/content/sample_data/gld_price_data.csv')

In [3]:
#print first 05 rows in the dataframe
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099